*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }

body {
  position: relative;
  font-family: 'Josefin Sans';
  color: #444649;
  font-weight: 300;
  line-height: 1.6; }

  .body {
    display: flex;
    justify-content: space-between;
  }
.resume__nav{
background-color:#444649 ;
flex: 0 0 17%;
color: white;

}
.resume__navhead{
  background-color:#444649 ;
  flex: 0 0 17%;
  border-bottom: 1px solid white;
  }
a, button {
  cursor: pointer; }

.margin-top-small {
  margin-top: 2rem; }

.border {
  border-bottom: 1px solid #ccc; }

.padding {
  padding: 5rem 0; }

.center {
  text-align: center; }

.flexbox {
  display: flex;
  justify-content: space-around; }

.margin-top-big {
  margin-top: 5rem; }

.container {
 padding: 0 4rem;
  color: #444;
  background-color: white;
  font-size: 2rem; }
.grow {
  flex: 1;
}
.resume__header {
  flex-grow: 1;
  margin: 0 4rem;
  padding: 2rem 0;
  }
  .resume__header__details {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 50em) {
    .resume__header__details {
        flex-direction: column; } }
  .resume__header h1 {
    font-size: 3rem;
    letter-spacing: 1rem; }
  .resume__header .paragraph-big {
   letter-spacing: .5rem;
    font-weight: 300; }
  


.resume__skills__details {
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 50em) {
    .resume__skills__details {
        flex-direction: column; } }
  .resume__skills__details div {
    flex: 0 0 20%;
  margin-top: 10px; }

.resume__education__divs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .resume__education__divs div {
    flex: 0 0 48%; }

.resume__skill__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .resume__skill__flex p {
    flex: 0 0 48%; }

.paragraph-big {
  font-size: 2.5rem;
  }

.sizeImage{
  width: 2.8rem!important; 
}

.bold {
  font-weight: 400;
  font-size: 2.2rem; }

.div-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .div-flex {
        margin-bottom: 1.5rem; } }
  .div-flex img {
    width: 4rem;
    height: auto;
    background-size: cover;
    display: block; }
  .div-flex p {
    margin-left: 1rem; }

.language {
  display: flex;
  align-items: center; }
  .language div:not(:last-child) {
    margin-right: 10rem; }

.cover {
  display: flex;
  flex-direction: column; }

.line-height {
  line-height: 0.9; }

.paragraph-smaller {
  font-weight: 400; }

  .boder{
    border-top: 1px solid white;
  }
  .util {
    text-align: right;
    margin-right: 2rem;
  }
  .marg{
    margin: 0 4rem;
    padding-bottom: 2rem;
  }
  .resume__skill{
    flex-grow: 1;
  }
  .footer{
    padding: 4rem 0;
  }
  .bolld{
    font-weight: 400;
    font-size:2rem ;
  }

  .smallest{
    font-size: 1.4rem;
  }